{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<form method="post">
    {% csrf_token %}
    <label>
        Логин:
        <input type="text" name="username">
    </label>
    <label>
        Пароль:
        <input type="text" name="password">
    </label>
    <label>
        Повторный пароль:
        <input type="text" name="password2">
    </label>
    <button type="submit" >Зарегистрироваться</button>
        <p>{{errors}}</p>
</form>
{% endblock %}
